#preto{
  background-color: black;

}

.efeito {
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}

.container{
  animation-name: fade;
  animation-duration: 5s
}

@keyframes fade {
  from {
    opacity: 0;

  }
  to{
    opacity: 1;

  }
  }

.top {
  text-decoration: none;
  color: black;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 5px black;
  border-radius: 20%;
}


