<body>

<html>
<nav class="navbar navbar-expand-lg"  id="preto">
  <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav" id="preto">
      <ul class="navbar-nav" >

        <li class="nav-item pr-4">
          <a class="nav-link btn text-warning" href="#pj">O PROJETO</a>
        </li>
        <li class="nav-item pr-4">
          <a class="nav-link btn text-warning" href="#cr">CRIADORES</a>
        </li>
        <li class="nav-item pr-4">
          <a class="nav-link btn text-warning" href="#rd" tabindex="-1" aria-disabled="true">REDES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="preto">
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
  <div class="container">
    <div class="row d-flex justify-content-center">


      <div class="col-md-12 p-0 d-flex justify-content-center form">
        <img src="../../assets/img/yellowblackcomp.jpg" alt="" width="550px" >

      </div>


    </div>
   </div>
   <br>
   <br>
  </div>
  <div id="preto">
<br>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 pr-1 d-flex">
        <button class="btn btn-warning form-control ml-2" routerLink='/entrar'>ENTRAR</button>
      </div>

      <div class="col-md-3 pr-1 d-flex">
        <button class="btn btn-outline-warning form-control ml-2" routerLink='/cadastrar'>CADASTRAR</button>
      </div>
    </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>


   <br>
   <br>
   <br>


  </div>

<app-o-projeto id="pj"></app-o-projeto>
<app-criadores id="cr"></app-criadores>
<app-rodape id="rd"></app-rodape>
<a class="top"href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

</html>
</body>
