<div class="backgroud">
  <h1 class="text-center text-white">CRIADORES</h1>


<div class="container col-md-12 bg">



    <div class="card">
      <div class="content">
        <img src="https://media-exp1.licdn.com/dms/image/D4D35AQHgCuzdTeVW4Q/profile-framedphoto-shrink_200_200/0/1626811646826?e=1631026800&v=beta&t=VPOlPOxB8ufb5dJYi333qdaD6LRxw-Rlpys9U6RAHx8"  alt="">
        <h3>Regina</h3>
        <p>Rodrigues</p>
        <a href="https://www.linkedin.com/in/rodriguesregina/">Mais informações</a>
      </div>
    </div>
  
    <div class="card">
      <div class="content">
        <img src="https://media-exp1.licdn.com/dms/image/D4D35AQGCXPTLUmdI5Q/profile-framedphoto-shrink_200_200/0/1630852634698?e=1631026800&v=beta&t=XbPOf7y_7FK3L01y3KUVZJ-IlojQyTuAj7hG3aSh_oY" alt="">
        <h3>Debora</h3>
        <p>Cristina</p>
        <a href="https://www.linkedin.com/in/sscdebora/">Mais informações</a>
      </div>
    </div>
  
  
    <div class="card">
      <div class="content">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEmmjR6f7lpHg/profile-displayphoto-shrink_200_200/0/1629292193842?e=1636588800&v=beta&t=H-8wJC2AzLIs074adpaKnRjPJByjCTuCcJfuSHw7ZdM" alt="">
        <h3>Felipe</h3>
        <p>Augusto</p>
        <a href="https://www.linkedin.com/in/felipe-augusto-2aa1ab118/">Mais informações</a>
      </div>
    </div>
  
  
    <div class="card">
      <div class="content">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFkadX0Wx0vmg/profile-displayphoto-shrink_200_200/0/1626195024024?e=1636588800&v=beta&t=OyTUT5lSPqJbHCpALnk0yELB_aSfx7xceZHPPTnqyiQ" alt="">
        <h3>Matheus</h3>
        <p>Moreira</p>
        <a href="https://www.linkedin.com/in/moreirasmatheus/">Mais informações</a>
      </div>
    </div>
  
  
    <div class="card">
      <div class="content">
        <img src="https://media-exp1.licdn.com/dms/image/D5635AQGcjM8fWDAk1A/profile-framedphoto-shrink_200_200/0/1629218157699?e=1631026800&v=beta&t=Ey3Bvec8yILrtpooFGhJa5OvxUkJJOWrSvcw1r6Elng" alt="">
        <h3>Gabriel</h3>
        <p>Conceicao dos Santos</p>
        <a href="https://www.linkedin.com/in/gabriel-concei%C3%A7%C3%A3o-97b534214/">Mais informações</a>
      </div>
    </div>
  
</div>

