<footer id="myFooter">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="font-weight-bold text-warning">Plek</h5>
                <h2 class="trecho font-weight-light trecho"> Compartilhe experiências de locais que possuem estrutura adequada para todes (deficientes ou não), promova uma rede de apoio segura para o seu próximo e vivêncie cada momento. Aqui é o seu espaço!</h2>
            </div>
            <div class="col text-center ">
                <h5 class="font-weight-bold text-warning">Seção</h5>
                <ul class="sub text-center ">
                    <div class="row trecho">
                        <li><a href="http://localhost:4200/#/home">Home</a></li>
                    </div>
                    <div class="row trecho">
                        <li><a href="http://localhost:4200/#/postagens">Postagens</a></li>
                    </div>
                </ul>
            </div>
            <div class="col">
                <h5 class="font-weight-bold text-warning">Contato</h5>
                <ul class="sub trecho">
                    <p>plekinnovation@gmail.com</p>
                    <p>+55 (11)2222-2222</p>
                </ul>
            </div>
            <div class="col mb-3">
                <h5 class="font-weight-bold text-warning">Mídias Sociais</h5>
                <div class="social-networks">
                    <div class="d-flex flex-row justify-content-center">
                        <a href="" class="linkedin "><i class="fa fa-linkedin "></i></a>
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-warning mt-3">
        <p class="text-dark">© 2021 Copyright - Plek Innovation</p>
    </div>
</footer>